.Header {
  background-color: #051e34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}
.para {
  color: white;
}
.logout_btn {
  color: white !important;
}
